issuers:
  bcreg:
    name: BC Corporate Registry
    abbreviation: BCReg
    url: https://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations/ministries/citizens-services/bc-registries-online-services
    email: bcregistries@gov.bc.ca
    logo_path: ../assets/img/bcreg-logo-square.jpg
    endpoint: $ENDPOINT_URL

    details:
      label_en: BC Corporate Registry
      abbreviation_en: BCReg
      url_en: https://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations/ministries/citizens-services/bc-registries-online-services
      email: bcregistries@gov.bc.ca
      logo_path: ../assets/img/bcreg-logo-square.jpg
      endpoint: $ENDPOINT_URL

    credential_types:
      - schema: registration.registries.ca
        issuer_url: $APPLICATION_URL_INCORP
        description: TODO
        details:
          label_en: Registration
          url_en: $APPLICATION_URL_INCORP
        credential:
          effective_date:
            input: effective_date
            from: claim
          inactive:
            input: entity_status
            from: claim
            processor:
              - bcgov.entity_status.is_historical
          revoked_date:
            input: expiry_date
            from: claim
        topic:
          label_en: Registration
          source_id:
            input: registration_id
            from: claim
          type:
            input: registration.registries.ca
            from: value
        mapping:
          - model: name
            fields:
              type:
                input: entity_name
                from: value
              text:
                input: entity_name
                from: claim
          - model: name
            fields:
              type:
                input: entity_name_assumed
                from: value
              text:
                input: entity_name_assumed
                from: claim
          - model: attribute
            fields:
              type:
                input: registration_date
                from: value
              format:
                input: datetime
                from: value
              value:
                input: registration_date
                from: claim
          - model: attribute
            fields:
              type:
                input: entity_name_effective
                from: value
              format:
                input: datetime
                from: value
              value:
                input: entity_name_effective
                from: claim
          - model: attribute
            fields:
              type:
                input: entity_name_assumed_effective
                from: value
              format:
                input: datetime
                from: value
              value:
                input: entity_name_assumed_effective
                from: claim
          - model: attribute
            fields:
              type:
                input: entity_status
                from: value
              format:
                input: category
                from: value
              value:
                input: entity_status
                from: claim
          - model: attribute
            fields:
              type:
                input: entity_status_effective
                from: value
              format:
                input: datetime
                from: value
              value:
                input: entity_status_effective
                from: claim
          - model: attribute
            fields:
              type:
                input: entity_type
                from: value
              format:
                input: category
                from: value
              value:
                input: entity_type
                from: claim
          - model: attribute
            fields:
              type:
                input: registered_jurisdiction
                from: value
              format:
                input: jurisdiction
                from: value
              value:
                input: registered_jurisdiction
                from: claim
          - model: attribute
            fields:
              type:
                input: home_jurisdiction
                from: value
              format:
                input: jurisdiction
                from: value
              value:
                input: home_jurisdiction
                from: claim
          - model: attribute
            fields:
              type:
                input: reason_description
                from: value
              format:
                input: category
                from: value
              value:
                input: reason_description
                from: claim

      - schema: relationship.registries.ca
        issuer_url: $APPLICATION_URL_DBA
        description: TODO
        details:
          label_en: Relationship
          url_en: $APPLICATION_URL_DBA
        credential:
          effective_date:
            input: effective_date
            from: claim
          revoked_date:
            input: expiry_date
            from: claim
        topic:
          related_source_id:
            input: associated_registration_id
            from: claim
          related_type:
            input: registration.registries.ca
            from: value
          source_id:
            input: registration_id
            from: claim
          type:
            input: registration.registries.ca
            from: value
        cardinality_fields:
          - associated_registration_id
          - relationship
        mapping:
          - model: attribute
            fields:
              type:
                input: relationship
                from: value
              format:
                input: category
                from: value
              value:
                input: relationship
                from: claim
          - model: attribute
            fields:
              type:
                input: relationship_description
                from: value
              value:
                input: relationship_description
                from: claim
          - model: attribute
            fields:
              type:
                input: associated_registration_name
                from: value
              value:
                input: associated_registration_name
                from: claim
          - model: attribute
            fields:
              type:
                input: relationship_status
                from: value
              format:
                input: category
                from: value
              value:
                input: relationship_status
                from: claim
          - model: attribute
            fields:
              type:
                input: relationship_status_effective
                from: value
              format:
                input: datetime
                from: value
              value:
                input: relationship_status_effective
                from: claim
          - model: attribute
            fields:
              type:
                input: reason_description
                from: value
              format:
                input: category
                from: value
              value:
                input: reason_description
                from: claim

      - schema: address.registries.ca
        issuer_url: $APPLICATION_URL_ADDRESS
        description: TODO
        details:
          label_en: Corporate Address
          url_en: $APPLICATION_URL_ADDRESS
        credential:
          effective_date:
            input: effective_date
            from: claim
          revoked_date:
            input: expiry_date
            from: claim
        topic:
          source_id:
            input: registration_id
            from: claim
          type:
            input: registration.registries.ca
            from: value
        cardinality_fields:
          - address_type
        mapping:
          - model: address
            fields:
              addressee:
                input: addressee
                from: claim
              civic_address:
                input: civic_address
                from: claim
              city:
                input: municipality
                from: claim
              province:
                input: province
                from: claim
              postal_code:
                input: postal_code
                from: claim
              country:
                input: country
                from: claim
              type:
                input: address_type
                from: claim
          - model: attribute
            fields:
              type:
                input: reason_description
                from: value
              format:
                input: category
                from: value
              value:
                input: reason_description
                from: claim

      - schema: business_number.registries.ca
        issuer_url: $APPLICATION_URL_ADDRESS
        description: TODO
        details:
          label_en: Corporate Business Number
          url_en: $APPLICATION_URL_ADDRESS
        credential:
          effective_date:
            input: effective_date
            from: claim
          revoked_date:
            input: expiry_date
            from: claim
        topic:
          source_id:
            input: registration_id
            from: claim
          type:
            input: registration.registries.ca
            from: value
        mapping:
          - model: attribute
            fields:
              type:
                input: business_number
                from: value
              format:
                input: category
                from: value
              value:
                input: business_number
                from: claim

      - schema: demo.verified_person.registries.ca
        issuer_url: $APPLICATION_URL_ADDRESS
        description: TODO
        details:
          label_en: Verified Person
          url_en: $APPLICATION_URL_ADDRESS
        credential:
          effective_date:
            input: effective_date
            from: claim
          inactive:
            input: entity_status
            from: claim
            processor:
              - bcgov.entity_status.is_historical
          revoked_date:
            input: expiry_date
            from: claim
        topic:
          source_id:
            input: registration_id
            from: claim
          type:
            input: demo.verified_person.registries.ca
            from: value
        mapping:
          - model: name
            fields:
              type:
                input: full_name
                from: value
              text:
                input: full_name
                from: claim
          - model: attribute
            fields:
              type:
                input: entity_status
                from: value
              format:
                input: category
                from: value
              value:
                input: entity_status
                from: claim
          - model: attribute
            fields:
              type:
                input: first_name
                from: value
              value:
                input: first_name
                from: claim
          - model: attribute
            fields:
              type:
                input: last_name
                from: value
              value:
                input: last_name
                from: claim
          - model: attribute
            fields:
              type:
                input: email_address
                from: value
              value:
                input: email_address
                from: claim
          - model: attribute
            fields:
              type:
                input: phone_number
                from: value
              value:
                input: phone_number
                from: claim

      - schema: demo.person_relationship.registries.ca
        issuer_url: $APPLICATION_URL_DBA
        description: TODO
        details:
          label_en: Relationship
          url_en: $APPLICATION_URL_DBA
        credential:
          effective_date:
            input: effective_date
            from: claim
          revoked_date:
            input: expiry_date
            from: claim
        topic:
          related_source_id:
            input: associated_registration_id
            from: claim
          related_type:
            input: registration.registries.ca
            from: value
          source_id:
            input: registration_id
            from: claim
          type:
            input: demo.verified_person.registries.ca
            from: value
        cardinality_fields:
          - associated_registration_id
          - relationship
        mapping:
          - model: attribute
            fields:
              type:
                input: relationship
                from: value
              format:
                input: category
                from: value
              value:
                input: relationship
                from: claim
          - model: attribute
            fields:
              type:
                input: relationship_description
                from: value
              value:
                input: relationship_description
                from: claim
          - model: attribute
            fields:
              type:
                input: associated_registration_name
                from: value
              value:
                input: associated_registration_name
                from: claim
          - model: attribute
            fields:
              type:
                input: relationship_status
                from: value
              format:
                input: category
                from: value
              value:
                input: relationship_status
                from: claim
          - model: attribute
            fields:
              type:
                input: relationship_status_effective
                from: value
              format:
                input: datetime
                from: value
              value:
                input: relationship_status_effective
                from: claim
          - model: attribute
            fields:
              type:
                input: reason_description
                from: value
              format:
                input: category
                from: value
              value:
                input: reason_description
                from: claim

      - schema: demo.org_relationship.registries.ca
        issuer_url: $APPLICATION_URL_DBA
        description: TODO
        details:
          label_en: Relationship
          url_en: $APPLICATION_URL_DBA
        credential:
          effective_date:
            input: effective_date
            from: claim
          revoked_date:
            input: expiry_date
            from: claim
        topic:
          related_source_id:
            input: associated_registration_id
            from: claim
          related_type:
            input: demo.verified_person.registries.ca
            from: value
          source_id:
            input: registration_id
            from: claim
          type:
            input: registration.registries.ca
            from: value
        cardinality_fields:
          - associated_registration_id
          - relationship
        mapping:
          - model: attribute
            fields:
              type:
                input: relationship
                from: value
              format:
                input: category
                from: value
              value:
                input: relationship
                from: claim
          - model: attribute
            fields:
              type:
                input: relationship_description
                from: value
              value:
                input: relationship_description
                from: claim
          - model: attribute
            fields:
              type:
                input: associated_registration_name
                from: value
              value:
                input: associated_registration_name
                from: claim
          - model: attribute
            fields:
              type:
                input: relationship_status
                from: value
              format:
                input: category
                from: value
              value:
                input: relationship_status
                from: claim
          - model: attribute
            fields:
              type:
                input: relationship_status_effective
                from: value
              format:
                input: datetime
                from: value
              value:
                input: relationship_status_effective
                from: claim
          - model: attribute
            fields:
              type:
                input: reason_description
                from: value
              format:
                input: category
                from: value
              value:
                input: reason_description
                from: claim

verifiers:
  bctob:
    name: BC OrgBook
    alias: tob-agent
    connection:
      type: TheOrgBook
      agent_admin_url: $TOB_AGENT_ADMIN_URL
